import("methods")
import("IRanges")
import("GenomicRanges")
importFrom("graphics", "axis", "plot", "rect", "segments", "text")
importFrom("grDevices", "rgb")
importFrom("utils", "data", "read.delim")
importClassesFrom("baySeq", "countData")
importFrom("baySeq", "getPriors.NB", "getLikelihoods.NB")
importMethodsFrom("baySeq", "dim", "[")
exportClasses("alignmentData")
exportClasses("segData")
exportMethods("dim", "[", "show")
exportPattern("^[^\\.]")

